In [1]:
import pandas as pd
import openpyxl

In [3]:
Dataset=pd.read_json('Leedo_Dataset.json')

In [4]:
Dataset

,index,name,content,name_index,theme,theme_index
0,1,김유리,제 주전공은 인간의 마음과 행동에 대해 연구하는 심리학입니다.,1,심리학,1
1,2,김유리,"사람 자체에 대한 관심도 많고, 정신적으로 어려움을 겪는 사람들을 돕고 싶어 심리학...",1,심리학,1
2,3,김유리,"다양한 상황에서 사람들이 어떤 것을 느끼고 생각하며, 그에 따라 왜 행동하는지를 공...",1,심리학,1
3,4,김유리,지금까지도 심리학 관련 논문과 책 읽기를 즐겨하고 있어요!,1,심리학,1
4,5,김유리,인공지능에 대해 배우고 싶다는 마음을 품은 채 대학교에 입학했어요,1,인공지능,2
...,...,...,...,...,...,...
259,260,김상엽,개발서적 리뷰 웹 서로 프로젝트를 진행합니다,34,웹,3
260,261,김상엽,자바와 웹쪽을 좀더 공부할 것 같습니다,34,웹,3
261,262,김상엽,농구도 좋아합니다.,34,농구,19
262,263,김상엽,유튜브 보기,34,유튜브,40
263,264,김상엽,게임하기,34,게임,11

In [10]:
corpus = Dataset['content'].values.tolist()

In [12]:
corpus = [word.replace('\xa0',' ') for word in corpus]

In [15]:
name = Dataset['name'].values.tolist()

In [17]:
name = [word.replace('\xa0',' ') for word in name]

In [5]:
import numpy as np
import pandas as pd
from sentence_transformers import SentenceTransformer, util

C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\PC\miniconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [39]:
embedder = SentenceTransformer('distiluse-base-multilingual-cased-v2')

In [70]:
query = input("느낌표로 시작하는 문장을 입력해주세요")

느낌표로 시작하는 문장을 입력해주세요게임 같이 하실 분

In [71]:
corpus_embeddings = embedder.encode(corpus, convert_to_tensor=True)
query_embedding = embedder.encode(query, convert_to_tensor=True)

In [72]:
cos_scores = util.pytorch_cos_sim(query_embedding, corpus_embeddings)[0]

In [73]:
top_k = 10
top_results = np.argpartition(-cos_scores, range(top_k))

name_overlap=[]

number=1

for i, idx in enumerate(top_results[0:top_k]):
    if number>5:
        break
    if cos_scores[idx] > 0.5:
        if not name[idx] in name_overlap:
            print(str(i+1)+"번 "+corpus[idx].strip(), "(Score: %.4f)" % (cos_scores[idx]))
            print(str(i+1)+"번 "+name[idx].strip(), "(Score: %.4f)" % (cos_scores[idx]))
            name_overlap.append(name[idx].strip())
            number +=1

1번 게임하기 (Score: 0.8382)
1번 김상엽 (Score: 0.8382)
2번 게임 하는 것을 좋아한다 (Score: 0.6533)
2번 정현석 (Score: 0.6533)
3번 로그라이크류 게임을 좋아합니다 (Score: 0.5888)
3번 김기표 (Score: 0.5888)
4번 게임을 항상 좋아합니다. (Score: 0.5857)
4번 임원빈 (Score: 0.5857)
7번 머리쓰는 게임을 할 때 즐거워요. (Score: 0.5233)
7번 이지율 (Score: 0.5233)

In [74]:
print(top_results)

tensor([263,  27, 174,  17, 176,  21, 123, 124,  53, 173,  10,  11,  12,  13,
         14,  15,  16,   3,  18,  19,  20,   5,  22,  23,  24,  25,  26,   1,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
         42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,   8,  54,  55,
         56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
         70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
         84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
         98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
        112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,   6,   7, 125,
        126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
        140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
        154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
        168, 169, 170, 171, 172,   9,   2, 175,   4, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
        210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
        224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,   0])

In [75]:
print(name_overlap)

['김상엽', '정현석', '김기표', '임원빈', '이지율']